<div align="center">
    <h1>Login Form</h1>
    <mat-card style="width: fit-content; background-color: aliceblue;">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Enter Username" type="text" formControlName="username" required>
                    <mat-icon matSuffix>contact_page</mat-icon>
                    <mat-error
                        *ngIf="getRegisterForm.username.invalid && (getRegisterForm.username.dirty || getRegisterForm.username.touched)">
                        <mat-error *ngIf="getRegisterForm.username.errors.required">Username is required.</mat-error>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter Password"
                        formControlName="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide" type="button">
                        <mat-icon matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="getRegisterForm.password.invalid && (getRegisterForm.password.dirty || getRegisterForm.password.touched)">
                        <mat-error *ngIf="getRegisterForm.password.errors.required">Passoword is required.</mat-error>
                    </mat-error>
                </mat-form-field>
            </p>
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
        </form>
    </mat-card>
</div>